:root {
	--excel-color: #0F9D58;
}

button {
	border: 1px solid transparent;
	border-radius: 0.25rem;
	padding: 0;
	background: transparent;
}

table :where(tr, td) {
	border: 1px solid #ccc;
}

table th {
	background-color: #E7F8ED;
}