:root {
	--excel-color: #0F9D58;
}

button {
	border: 0 solid transparent;
	border-radius: 0.25rem;
	padding: 0;
	background: transparent;
}

table thead tr:first-child th {
	border-top: 1px solid #ccc;
}

table :where(th, td):not(:last-child) {
	border-right: 1px solid #ccc;
}

table :where(th, td) {
	border-bottom: 1px solid #ccc;
}

table th {
	background-color: #E7F8ED;
	font-weight: 400;
}